@font-face {
  font-family: "Ubuntu-L";
  src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: "Ubuntu-M";
  src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html {
  --grey: #333333;
  --medium-grey: #666666;
  --light-grey: #f2f2f2;
  --blue: #006CD1;
  --orange: #ff6600;
  --light-orange: #ffe0cc;
  --light-yellow: #FFFFE0;
  --red: #ff0000;
  --green: #2f4f4f;
  --medium-green: #bfd9d9;
  --light-green: #eff5f5;
}

body {
  background-color: var(--light-green);
  font-size: 100%;
  font-weight: normal;
  color: var(--grey);
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

header {
	background-color: var(--green);
}

.header_logo {
	width: 3.5%;
	padding: 1% 0 0 1%;
}

nav {
  padding: 1%;
}

.nav_link {
  color: white;
  text-decoration: none;
  margin-right: 0.5%;
}

h1 {
	font-size: 180%;
}

.home_image {
	max-width: 100%;
}

.fruit_image {
	max-width: 20%;
	float: left;
}

h2 {
	font-size: 130%;
}

h1,h2 {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red); 
}

.font_L {
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

.font_M {
  font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
}

audio,video {
  width: 70%;
}




