body {
  background-color: var(--light-yellow);
}

section {
  background-color: bisque;
  padding: 2px 1% 2% 1%;
  margin-bottom: 20px;
}

h1,h2 {
  color: var(--medium-grey);
}

.standard_box {
  background-color: var(--light-green);
}

.image_content {
  background-color: yellow;
  box-sizing: border-box;
  width: 250px;
  height: auto;
  margin: 10px;
  padding: 20px;
  border: 6px solid blue;
}

audio,video {
  width: 30%;
}





